body {

    background-image: url(../images/evenproberen.jpg);
    margin : 0px;
}

.Chalaki {
    font-size: 100px;
    letter-spacing: 1px;
    color:black;
    font-family: 'Handlee';
    margin:3px;
    padding:50px;
    display: block;
    float:left
}
img{
    float:left;
    width:10%
   
    
}
.myDiv {
 
    height:200px;
  border: none;
  background-image: url(../images/beterbanner.jpg);
  text-align: left;
  border-bottom: solid 10px gray ;
}
li {
  float: left;
}
li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 120.9px;
  text-decoration: none;
}
li a:hover {
  background-color: red;
}
.knop{
    background-color:maroon;
    display:block;
    text-decoration: none;
    text-align: center;
    color: blanchedalmond;
    margin-top: 2%;
    padding: 7px;
    border: solid 2px black;
    width: 10%;
    float: right;
    margin-right: 2%;
    margin-top: 50px;
    border-radius:  1000px;
}
.knop2{
    background-color:maroon;
    display:block;
    text-decoration: none;
    text-align: center;
    color: blanchedalmond;
    margin-top: 20px;
    padding: 7px;
    border: solid 2px black;
    width: 10%;
    float: right;
    margin-right: 2%;
    margin-bottom: 3%;
    border-radius:  1000px;
}
#blok{  
    border: solid gray 3px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background:#f3f3f3;  
    padding: 50px;  
} 
#submitpost{  
    color: #fff; 
    background: maroon;  
    padding: 7px;  
    margin-left: 0%; 
    width: 35%; 
}  
.posts{  
    background:#f3f3f3;
    border: solid gray 3px;  
    height:700px;
    width:60%;  
    border-radius: 3px;  
    margin: 120px auto;  
    padding: 50px;  
    overflow-x: hidden;
    overflow-y: auto; 
    text-align: justify;
    font-style: italic;
}  