body {

    background-image: url(../images/okok.jpg);
    margin : 0px;
}

.Chalaki {
    font-size: 100px;
    letter-spacing: 1px;
    color:black;
    font-family: 'Handlee';
    margin:3px;
    padding:50px;
    display: block;
    float:left
}
img{
    float:left;
    width:10%
   
    
}
.myDiv {
 
    height:200px;
  border: none;
  background-image: url(../images/achtergrondinlog.jpg);
  text-align: left;
  border-bottom: solid 10px gray ;
}
li {
  float: left;
}
li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 120.9px;
  text-decoration: none;
}
li a:hover {
  background-color: red;
}
.knop{
    background-color:maroon;
    display:block;
    text-decoration: none;
    text-align: center;
    color: blanchedalmond;
    margin-top: 2%;
    padding: 7px;
    border: solid 3px black;
    width: 10%;
    float: right;
    margin-right: 2%;
}
#blok{  
    border: solid gray 3px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background:#f3f3f3;  
    padding: 50px;  
} 