
body{   
    background-image: url(../images/achtergrondinlog.jpg);  
}  
#frm{  
    border: solid gray 3px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background:#f3f3f3;  
    padding: 50px;  
}  
#btn{  
    color: #fff;  
    background: maroon;  
    padding: 7px;  
    margin-left: 70%;  
}  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img{
    width:70%
}
#plaatje{
    width:20%;
    float:left;
}
#login{
    width:80%;
}